@import "../../../../style/utils/mixins.scss";

.descriptionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  row-gap: 20px;
  @include large-screens {
    flex-direction: row;
  }
  &__text {
    @include descriptionText;
  }
}
