@import '../../../../style/utils/mixins.scss';
@import '../../../../style/utils/functions.scss';

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
} 

.tag {
    margin-right: 10px;
    border-radius: get-radius('small');
    @include is-light-background(false);
    @include sizing-element(25px, 155px);
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    @include large-screens{
        border-radius: get-radius('medium');
        @include sizing-element(31px, 175px);
        line-height: 31px;
        font-size: 18px;
    }
}