@import "../../style/utils/mixins.scss";

.flatContent {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  row-gap: 20px;
  height: 90%;
  @include medium-large-screens {
    row-gap: 32px;
  }
}
