@import "../../../../style/utils/mixins.scss";

.hostComponent {
  display: flex;
  align-items: center;
  align-self: flex-end;

  &__name {
    margin-right: 5px;
    width: min-content;
    font-size: 0.9em;
    @include medium-screens {
      height: 100%;
      font-size: 1.2em;
    }
    @include large-screens {
      font-size: 1.3em;
    }
  }

  &__avatar {
    border-radius: 50%;
    @include sizing-element(32px, 32px);
    @include medium-screens {
      @include sizing-element(64px, 64px);
    }
    @include large-screens {
      @include sizing-element(110px, 110px);
    }
  }
}

