@import "../../../../style/utils/mixins.scss";
@import "../../../../style/utils/variables.scss";

.paginationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 24px;
  @include large-screens {
    flex-direction: row;
  }
}

.total {
  @include large-screens {
    font-size: 1.2em;
  }
}

.paginationButtons {
  border: none;
  background-color: transparent;
  margin: 0 1em;
  cursor: pointer;
  &__icon {
    height: 1.8em;
    @include large-screens {
    height: 2em;
    }
  }
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNumber{
    display: flex;
    gap: 10px;
    margin: 0 30px;
    &__button{
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 10px;
        font-size: 1.5em;
        color: $colour-primary;
        text-decoration: underline;
    }
}

.selectLimit {
    margin-bottom: 40px;
    margin-left: 12px;
    height : 2em;
    border-radius: 5px;
    border: $colour-primary solid 3px;
    background-color: $colour-primary;
    color: $colour-secondary;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.247);
    font-size: 1.3em;;
    &>*{
        font-size: 1.3em;
        color: $colour-secondary;
    }
    &:checked{
        color: $colour-primary;
    }
    @include medium-large-screens{
        margin-bottom: 0;
        font-size: 1em;
    }
}
