@import "../../../../style/utils/mixins.scss";
@import "../../../../style/utils/variables.scss";

.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 24px;

  @media screen and (min-width: 1201px){
      flex-direction: row;
      justify-content: space-between;
  } 
  
}

.total {
  @include large-screens {
    font-size: 1.2em;
  }
}

.paginationButtons {
  border: none;
  background-color: transparent;
  margin: 0 1em;
  cursor: pointer;
  &__icon {
    height: 1.8em;
    @include large-screens {
      height: 2em;
    }
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  @include large-screens {
    flex-wrap: nowrap;
  }
}

.pageNumber {
  display: flex;
  justify-content: center;
  gap: 10px;
  order: -1;
  margin: 0 30px;
  width: 100%;
  @include large-screens {
    order: 0;
    margin: 0 10px;
    width: auto;
  }
  &__button {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: transparent;
    color: $colour-primary;
    font-size: 1.5em;
    text-decoration: underline;
    &:disabled {
      cursor: unset;
      color: #804745;
      text-decoration: none;
    }
  }
}

.selectLimit {
  margin-bottom: 40px;
  margin-left: 12px;
  height: 2em;
  border-radius: 5px;
  border: $colour-primary solid 3px;
  background-color: $colour-primary;
  color: $colour-secondary;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.247);
  font-size: 1.3em;

  & > * {
    font-size: 1.3em;
    color: $colour-secondary;
  }
  &:checked {
    color: $colour-primary;
  }
  @include medium-large-screens {
    margin-bottom: 0;
    font-size: 1em;
  }
}
