.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total {
  font-size: 1.2em;
}

.paginationButtons {
  border: none;
  background-color: transparent;
  margin: 0 1em;
  cursor: pointer;
  &__icon {
    height: 2em;
  }
}
