@import "./variables.scss";
@import "./mixins.scss";

@function get-radius($size) {
  @if $size == "small" {
    $border-radius: map-get($border-radius, $size);
    @return $border-radius;
  } @else if $size == "medium" {
    $border-radius: map-get($border-radius, $size);
    @return $border-radius;
  } @else if $size == "large"{
    $border-radius: map-get($border-radius, $size);
    @return $border-radius;
  } @else {
    @return 0;
  }
}


@function offset-x($value, $isRight) {
  @return $value*(-1);
}