@import "../../style/utils/mixins.scss";
@import "../../style/utils/variables.scss";

.card {
  position: relative;
  overflow: hidden;
  @include border-radius;
  margin: 10px 20px;
  max-height: 300px;
  max-width: 500px;
  width: 100%;
  transition: all 250ms ease-in;

  //Layer on hover
  &:before{
    z-index: 3;
    @include covering-element("Voir plus", true); //Parameters : content, isHidden(opacity at 0 if true)
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.534);
    color: rgb(255, 255, 255);
    font-size: 120%;
    font-weight: 700;
  }
  &:hover {
    transform: scale(0.97);
    &:before{
      opacity: 1;
    }
  }
}

.imgBox {
  overflow: hidden;
  display: flex;
  @include border-radius;
  @include hundred-percent-sizing;
  &:before {
    @include linearGradient-transparent-mask;
  }
  &__img{
    object-fit: cover;
    @include hundred-percent-sizing;

  }
}


.title {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  line-height: 142%;
  color: $colour-secondary;
  font-weight: 500;
  font-size: 18px;
}
