@import "../../style/utils/variables.scss";
@import "../../style/utils/mixins.scss";

.accordion {
  min-width: 100%;
}

.headerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 1em;
  @include is-light-background(false);
  width: 100%;
  &__header {
    font-weight: 500;
    font-size: 1.1em;
    @include medium-large-screens {
      font-size: 1.3em;
    }
  }
  &__chevron {
    animation: rotate-chevron-up 0.3s ease-in forwards;
  }
  &__chevronActive {
    animation: rotate-chevron-down 0.3s ease-in forwards;
  }
}

@keyframes rotate-chevron-down {
    0% {
              transform: rotate(180deg);
    }
    100% {
              transform: rotate(0deg);
    }
  }

@keyframes rotate-chevron-up {
    0% {
              transform: rotate(0deg);
    }
    100% {
              transform: rotate(180deg);
    }
  }

.descriptionBox {
  border-radius: 5px;
  background-color: $colour-tertiary;
  padding: 1.1em;
  &__text {
    font-size: 1.1em;
    line-height: 24px;
    @include medium-large-screens {
      font-size: 1.3em;
      line-height: 32px;
    }
  }
}
