@import "../../style/utils/mixins.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  &__links {
    font-size: 16px;

    @include medium-large-screens {
      font-size: 24px;
    }
    @include small-screens {
      text-transform: uppercase;
    }
    @include xsmall-screens {
      font-size: 14px;
    }
  }
  &__aboutLink {
    padding-left: 24px;
    @include large-screens {
      padding-left: 57px;
    }
    @include xsmall-screens {
      padding-left: 12px;
    }
  }
  &__listElement {
    transition: transform 250ms ease-in;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.underline {
  text-decoration: underline;
}
