@import '../../style/utils/mixins.scss';

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    @include medium-large-screens{
        background: #F6F6F6;
        flex-flow: row wrap;
        row-gap: 50px;
        justify-content: space-between;
        padding: 56px 50px;
    }
}