@import "../../style/utils/variables.scss";
@import "../../style/utils/mixins.scss";

.footer {
  display: flex;
  gap: 23px;
  background: #000000;
  flex-direction: column;
  align-items: center;
  padding: 32px 10px 12px 12px;
  color: $colour-secondary;

  &__logo {
    width: 120px;
    @include xsmall-screens {
      max-width: 100px;
    }
  }

  &__copyrights {
    @include small-screens {
      font-size: 14px;
    }
    @include xsmall-screens {
      font-size: 12px;
    }
  }
}
