@import "../../../../style/utils/mixins.scss";
@import "../../../../style/utils/variables.scss";

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 25px;
  width: 100%;

  @include medium-large-screens {
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 50px;
    margin-top: 5vh;
    background: $colour-tertiary;
    padding: 56px 50px;
  }

  &:before {
    @include covering-element("", true);
    z-index: 5;
    background-color: $colour-secondary;
    transform-origin: bottom;
    animation: appearing-gallery 1000ms ease-in-out forwards;
  }
}

.cardContainer {
  display: fit-content;
}

.cardLinks {
  display: flex;
  width: 100%;
  min-height: 340px;
  justify-content: center;

  @include medium-screens {
    width: 50%;
  }
  @include large-screens {
    max-width: 33%;
  }
}

//Animations :

@keyframes appearing-gallery {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}
