@import "./style/utils/mixins.scss";

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include is-light-background(true);
}

html, body {
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main{
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  row-gap: 22px;
  @include medium-large-screens{
    margin: 20px 100px 50px 100px;
  }

}