@import "../../style/utils/mixins.scss";
@import "../../style/utils/variables.scss";

.banner {
  width: 100%;
  position: relative;
}

.bannerImg {
  overflow: hidden;
  @include border-radius;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 27vh;
  object-fit: cover;
  object-position: 50% 40%;
}

.homepageBannerImg {
  @include small-screens {
    height: 14vh;
  }
}

.imgContainer {
  position: relative;
  overflow: hidden;
  display: flex;

  // Dark layer :
  &:after {
    @include covering-element("", false); //parameters : content, isHidden(opacity at 0 if true)
    @include hundred-percent-sizing;
    @include border-radius;
    background-color: black;
    mix-blend-mode: darken;
    opacity: 0.3;
  }
}

.title {
  z-index: 1;
  position: absolute;
  left: 18px;
  top: 35%;
  display: inline-block;
  max-width: 75%;
  color: $colour-secondary;
  font-weight: 500;
  font-size: 1.7em;
  @include xsmall-screens {
    top: 25%;
    height: 100%;
    max-width: 75%;
    font-size: 1.3em;
  }
  @include medium-large-screens {
    margin: 0 auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
}
