.errorWrapper{
    display: flex;
    flex-direction:  column;
    align-items: center;
}

.errorBlock{
    text-align: center;
    margin-bottom: 133px;
    padding: 0 10px;
}

.title{
    font-weight: 700;
    font-size: 198px;
}

.errorMessage {
    font-size: 18px;
}

.homeLink {
    text-decoration: underline;
    font-size: 14px;
}

@media screen and (min-width: 992px){
    .title{
        font-size: 288px;
    }
    .errorMessage{
        font-size: 36px;
    }
    .homeLink{
        font-size: 18px;
    }
    .errorBlock{
        margin-bottom: 96px;
    }
}

@media  screen and (max-width: 575px) {
    .title{
        font-size: 128px;
    }
    .errorMessage{
        font-size: 16px;
    }
}
